## zPod Informations

zPod: {{ zpod_name }}
Domain: {{ zpod_domain }}
Status: {{ zpod_status }}
Profile: {{ zpod_profile }}
Password: {{ zpod_password }}

# You can index directly a object to fetch it's value (zpod_networks[0].cidr)
Management Network: {{zpod_networks[0].cidr}}
